.hidden {
    display: none;
}
html {
    background-color: whitesmoke;
    font: helvetica; 
}
h2 {
    text-align: center;
    font-size: 100px;
}
.todo_form {
    justify-self: center;
    text-align: center;
}

input::placeholder{
    color: black;
    font-size: medium;
}
#d-day-form {
    width: 50%;
    height: 30%;
    padding: 5px;
    font-size: 12px;
    background-color: transparent; 
    margin: auto;
    border-radius: 4px;
    text-align: center;
}

#weather {
    text-align: right;
    margin: 5px;
}
#login-form {
    text-align: center;
}
#login-form input.login {
    width: 10%;
    padding: 10px;
    margin: auto;
    border : hidden;
    border-radius: 2px;
    text-align: center;
}
#login-form input.name {
    width: 200px;
    padding: 10px;
    margin: auto;
    border: hidden;
    border-bottom-style: 1px;
    margin: 2px;
    background-color: transparent;
}

#login-form input.name:focus {
    outline: none;
    border-bottom: 2px solid #032343;
}
#todo-form input {
    width: 350px;
    padding: 10px;
    border: hidden;
    border-bottom-style: 2px;
    margin: 2px;
    background-color: transparent;
    justify-content: center;
}

#todo-form input:focus {
    outline: none;
    border-bottom: 1px solid #093844;
}

::placeholder {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    
}

ul {
    list-style-type: disc;
    height: fit-content;
    width: fit-content;
    background-color: none;
    text-align: start;
    font-family:'Courier New', Courier, monospace;
}

#todo-form li {
   margin: auto;
}

.todo_list {
}

#quote {
    text-align: center;
    font: helvetica ;
    margin-top: 100px;
}
button {
    cursor: pointer;
    margin: 5px 5px 5px 5px ;
}
h1 {
    text-align: center;
}

h3 {
    text-align: start;
}